<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 	xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							  http://www.springframework.org/schema/beans/spring-beans.xsd
							  http://www.springframework.org/schema/context
							  http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 导入jdbc配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3P0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!--配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--注入数据库链接 -->
		<property name="dataSource" ref="dataSource"/>
		<!--扫描包 配置别名 -->
		<property name="typeAliasesPackage" value="com.lwz.beans" />
		<!--扫描包配置sqlmapper文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<!--配置动态实现dao接口注入spring -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!--basePackage指定要扫描的包，在此包之下的映射器都会被 搜索到。可指定多个包，包与包之间用逗号或分号分隔 -->
		<property name="basePackage" value="com.lwz.dao" />
	</bean>
</beans>